@model OdeToFood.Models.AboutModel
@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>
<hgroup class="modal-title">
    <h1>@ViewBag.Title</h1>
    <h2>@Model.Name</h2>
</hgroup>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1> Home Page</h1>
    </div>
    <div> Location: @Model.Location</div>
</body>
</html>
